body {
    text-align: center;
    background-color: khaki;
}
img {
    max-width: 100%;
}
.searchbar {
    border: none;
    padding: 10px 5px 10px 10px;
    margin: 15px 0 25px 0;
  }

.groen {
      width: 200px;
      height: 200px;
      background-color: green;
}

.map {
    height: 400px;
    width: 600px;
   }

#viewmore {
    display: none;
}